<!DOCTYPE html>

<!-- File origin: VS1LAB A1a -->

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GeoTagApp</title>
    <link rel="stylesheet" href="./stylesheets/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <header class="row header">
        <div>
            <img src="./images/location.png" class="header__image" alt="an image of a map and location">
        </div>
        <h1 class="header__title">GeoTagApp</h1>
        <nav class="header__navigation">
            <a href="#">About</a>&nbsp;|&nbsp;<a href="#">Help</a>&nbsp;|&nbsp;<a href="/">Home</a>
        </nav>
    </header>

    <main class="row main">
        <section class="main__tagging tagging col-4">
            <h2>Tagging</h2>

            <!-- ############### VS1Lab 1a Form 1 Start -->
            <form id="tag-form" action="/tagging" method="post">

                <fieldset>
                    <legend>Add a new GeoTag</legend>

                    <div>
                        <label>Latitude:</label>
                        <input name="latitude" id="tag-form-latitude" type="number" placeholder="12.3456789" readonly />
                    </div>

                    <div>
                        <label>Longitude:</label>
                        <input name="longitude" id="tag-form-longitude" type="number" placeholder="98.7654321"
                            readonly />
                    </div>

                    <div>
                        <label>Name:</label>
                        <input name="name" id="tag-form-name" type="text" placeholder="e.g. HKA Karlsruhe" required
                            maxlength="10" pattern="[A-Za-z]+" />
                    </div>

                    <div>
                        <label>Hashtag:</label>
                        <input name="hashtag" id="tag-form-hashtag" type="text" placeholder="e.g. #hka"
                            pattern="#[A-Za-z]+" maxlength="11" />
                    </div>

                    <div>
                        <input id="tag-form-submit" type="submit" value="Add Tag" />
                    </div>

                </fieldset>

            </form>
            <!-- ############### VS1Lab 1a Form 1 End -->

        </section>

        <section class="main__discovery discovery col-8">
            <h2 class="discovery__title">Discovery</h2>

            <!-- ############### VS1Lab 1a Form 2 Start -->
            <form class="discovery__search" id="discoveryFilterForm" action="/discovery" method="post">

                <fieldset>
                    <legend>Search</legend>

                    <div>
                        <label>Search term or keywords:</label>
                        <input name="searchterm" id="discovery-form-search-term" type="text" placeholder="e.g. HKA" />
                    </div>
                    <div>
                        <input id="discovery-form-submit" type="submit" placeholder="Search" />
                    </div>
                    <input id="discovery-form-latitude" name="latitude" type="hidden" placeholder="12.3456789"
                        readonly />
                    <input id="discovery-form-longitude" name="longitude" type="hidden" placeholder="98.7654321"
                        readonly />

                </fieldset>

            </form>
            <!-- ############### VS1Lab 1a Form 2 End -->

            <div class="discovery__wrapper row">
                <div class="discovery__taglist">
                    <ul class="discovery__results" id="discoveryResults">
                    </ul>
                    <div class="discovery__pagination">
                        <a href="#" id="discovery__pagination__prev">❮</a>
                        <span id="discovery__pagination__inner"></span>
                        <a href="#" id="discovery__pagination__next">❯</a>
                    </div>
                </div>

                <figure class="discovery__map">
                    <img data-tags="<%= JSON.stringify(taglist) %>" src="./images/mapview.jpg" alt="a map with
                    locations" id="mapView" />
                    <figcaption>Result map</figcaption>
                </figure>
            </div>
        </section>

    </main>

    <footer class="row footer">
        <span>(c) 2021/22 HKA_IWI_VSYS</span>
    </footer>
</body>
<script type="module" src="./javascripts/geotagging.js"></script>

</html>
